* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
}

.container {
  margin: auto;
  max-width: 1110px;
}

.header {
  background-color: #fff;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__search {
  margin-right: auto;
  margin-left: 108px;
}

.search {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}

.search__input {
  width: 350px;
  height: 100%;
  background-color: #f5fafe;
  border-radius: 6px;
  padding-right: 75px;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.search__button {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 65px;
  border: none;
  background-color: #ec1f46;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user__name {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-left: 18px;
}
